body{
margin:0;
font-family:Arial;
background:#020617;
color:white;
}

#galaxy{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
z-index:-1;
}

.navbar{
display:flex;
justify-content:space-between;
padding:20px;
}

.navbar button{
background:none;
border:none;
color:white;
margin-left:10px;
cursor:pointer;
}

.screen{
display:none;
padding:80px;
text-align:center;
}

.screen.active{
display:block;
}

.mainBtn{
padding:12px 25px;
background:#38bdf8;
border:none;
border-radius:10px;
cursor:pointer;
}

.grid{
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:20px;
}

.card{

background:rgba(255,255,255,0.08);
border-radius:20px;
padding:25px;

transform-style:preserve-3d;

transition:0.4s;

}

.card:hover{

transform:
rotateY(15deg)
rotateX(10deg)
translateY(-12px)
scale(1.05);

box-shadow:0 25px 40px rgba(0,0,0,0.6);

}

.tech-stack{
display:flex;
justify-content:center;
flex-wrap:wrap;
gap:30px;
margin-top:30px;
}

.tech{
font-size:50px;
animation:float 4s infinite;
}

@keyframes float{

0%{transform:translateY(0)}
50%{transform:translateY(-10px)}
100%{transform:translateY(0)}

}

.contact-icons{
display:flex;
justify-content:center;
gap:40px;
margin-top:40px;
}

.contact-icons img{
width:60px;
background:rgba(255,255,255,0.1);
padding:12px;
border-radius:50%;
transition:0.3s;
}

.contact-icons img:hover{
transform:scale(1.2);
background:#38bdf8;
}

#chatIcon{
position:fixed;
bottom:25px;
right:25px;
width:60px;
height:60px;
background:#38bdf8;
border-radius:50%;
display:flex;
align-items:center;
justify-content:center;
font-size:24px;
cursor:pointer;
}

#chatWindow{
position:fixed;
bottom:95px;
right:25px;
width:260px;
background:#0f172a;
display:none;
border-radius:10px;
}

#chatHeader{
background:#38bdf8;
color:black;
padding:10px;
}

#chatMessages{
height:200px;
overflow:auto;
padding:10px;
}

#chatInput{
width:100%;
padding:8px;
border:none;
}

.timeline-content{

background:rgba(255,255,255,0.08);
border-radius:15px;
padding:20px;

backdrop-filter:blur(10px);

transform:
translateY(40px)
rotateX(8deg);

opacity:0;

transition:
transform 0.6s ease,
opacity 0.6s ease;

}

.timeline-content.show{

transform:
translateY(0)
rotateX(0);

opacity:1;

}

.timeline-content:hover{

transform:
scale(1.05)
rotateY(8deg);

box-shadow:
0 20px 40px rgba(0,0,0,0.6);

}
